#Data Types and Structures Questions

1. What are data structures, and why are they important?
- Data structures are ways to organize and store data in a computer so it can be used efficiently.

 Importance:
 They help in managing large amounts of data, improving the performance of programs, and making problem-solving easier and faster.

2. Explain the difference between mutable and immutable data types with examples?
- The difference between mutable and immutable data types with examples.

 Mutable data types can be changed after creation.

 Examples:
 Mutable: list, dict, set

 Immutable data types cannot be changed once created.

 Examples:
 Immutable: int, str, tuple

3. What are the main differences between lists and tuples in Python?
- Main Differences Between Lists and Tuples in Python.

 Mutability:

 Lists are mutable, which means we can change, add, or remove elements after
creation.

 Tuples are immutable, so we cannot change their values once created.

 Syntax:

 Lists use square brackets: [1, 2, 3]

 Tuples use round brackets: (1, 2, 3)

 Performance:

 Tuples are faster and take less memory compared to lists.

 Methods:

 Lists have more built-in functions like append(), remove(), etc.

 Tuples have fewer methods because they are fixed.

 Use Case:

 Use a list when the data may change.

 Use a tuple when the data should stay constant.

4. Describe how dictionaries store data.
- Dictionaries store data in key-value pairs. Each key is unique and is used to access its corresponding value.

  Examples:
  
 "name", "age", and "grade" are keys

 "Om", 17, and "A" are their values

5. Why might you use a set instead of a list in Python?
- You might use a set instead of a list when:

 You want only unique values

 Sets automatically remove duplicates.

6. What is a string in Python, and how is it different from a list?
- In Python, a string is a sequence of characters used to store text. It is written inside single (' ') or double (" ") quotes.
Differences Between String and List:

| **Feature**   | **String**                     | **List**                          |
|---------------|--------------------------------|-----------------------------------|
| **Data Type** | Stores **text** (characters)   | Stores **multiple data types**    |
| **Syntax**    | `"Hello"`                      | `["H", "e", "l", "l", "o"]`       |
| **Mutability**| **Immutable** (cannot change)  | **Mutable** (can change values)   |
| **Methods**   | Has string-specific methods    | Has list-specific methods         |
| **Usage**     | Used for text                  | Used for collections of items     |

7. How do tuples ensure data integrity in Python?
- Tuples help ensure data integrity because they are immutable, meaning once a tuple is created, its values cannot be changed. This makes them ideal for situations where you want to protect the data from being accidentally modified.

 Key Points:

 Immutability: Since you can't change, add, or remove elements from a tuple, it ensures the data remains the same throughout the program.

 Prevents Accidental Changes: When you store important information in a tuple (like coordinates, dates, etc.), it can't be accidentally modified, ensuring the integrity of the data.

  Hashable:Tuples can be used as keys in dictionaries and sets because they are hashable. This also ensures data integrity when using tuples as identifiers or references.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table stores data in key-value pairs using a hash function to find where to store the data. In Python, dictionaries work like hash tables because they use hashing to quickly retrieve values based on their keys.

9. Can lists contain different data types in Python?
- Yes, in Python, lists can contain different data types. A list is a collection that can hold any type of data, including integers, strings, floats, and even other lists or objects.

10. Explain why strings are immutable in Python.
- Strings in Python are immutable, which means once a string is created, its value cannot be changed. This happens because strings are designed to be efficient and safe in Python.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer several advantages over lists when it comes to certain tasks, especially when you need to work with key-value pairs or perform fast lookups.

12. Describe a scenario where using a tuple would be preferable over a list.
- Imagine you're working on a project that needs to store coordinates for locations on a map, like latitude and longitude. These coordinates should never change because they represent fixed positions.
 In this case, a tuple would be a better choice than a list because tuples are immutable. This ensures that once the coordinates are set, they cannot be accidentally changed, which helps maintain the integrity of the data.

13. How do sets handle duplicate values in Python?
- Sets don’t allow duplicates. If you add the same value multiple times, the set will keep just one copy, making it perfect for storing unique items.

14. How does the “in” keyword work differently for lists and dictionaries?
- The in keyword is used to check if something exists, but it works a bit differently for lists and dictionaries.

 In Lists: It checks if a value is present in the list.

 In Dictionaries: It checks if a key (not value) is present in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means once a tuple is created, its values cannot be changed, added, or removed.

 Why Not?

 Tuples are designed to protect the data from changes.

 They are used when you want to store fixed, unchangeable data.

 Immutability also makes tuples faster and usable as dictionary keys.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary. It means that the value for a key can itself be another dictionary.
 Example:

 "grades" is a key, and its value is another dictionary with subjects and marks.

17.Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary is very fast in Python. The time complexity is O(1) on average, which means it takes constant time, no matter how many items are in the dictionary.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when you need to store a collection of items in a specific order and you don’t need to label them with unique keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries were unordered before, meaning their items had no fixed order. This didn’t affect retrieving data by key, but it meant you couldn't expect them to come out in the same sequence. Now they keep order, but they’re still used for fast key lookups, not for storing things in order.


20. Explain the difference between a list and a dictionary in terms of data retrieval.
- The main difference between a list and a dictionary is how you get (retrieve) data from them.

 List:

 You get data using index numbers (like position).

 Example: If you want the first item, you use list[0].

 It's good when you care about order or want to loop through items in sequence.

  Dictionary:

  You get data using a key (like a label).

 Example: If you want a student's name, you use dict["name"].

 It's better when you want fast lookups using a known key, and not by position.

#Practical Questions

In [8]:
#1. Write a code to create a string with your name and print it.
'''
name = "Om"
print(name)
'''

'\nname = "Om"\nprint(name)\n'

In [9]:
#2. Write a code to find the length of the string "Hello World".
'''
text = "Hello World"
length = len(text)
print(length)
'''

'\ntext = "Hello World"\nlength = len(text)\nprint(length)\n'

In [10]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
'''
text = "Python Programming"
slice_result = text[:3]
print(slice_result)
'''

'\ntext = "Python Programming"\nslice_result = text[:3]\nprint(slice_result)\n'

In [11]:
#4.  Write a code to convert the string "hello" to uppercase.
'''
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)
'''

'\ntext = "hello"\nuppercase_text = text.upper()\nprint(uppercase_text)\n'

In [12]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
'''
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)
'''

'\ntext = "I like apple"\nnew_text = text.replace("apple", "orange")\nprint(new_text)\n'

In [13]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
'''
numbers = [1, 2, 3, 4, 5]
print(numbers)
'''

'\nnumbers = [1, 2, 3, 4, 5]\nprint(numbers)\n'

In [14]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
'''
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)
'''

'\nnumbers = [1, 2, 3, 4]\nnumbers.append(10)\nprint(numbers)\n'

In [15]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
'''
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)
'''

'\nnumbers = [1, 2, 3, 4, 5]\nnumbers.remove(3)\nprint(numbers)\n'

In [16]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
'''
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)
'''

"\nletters = ['a', 'b', 'c', 'd']\nsecond_element = letters[1]\nprint(second_element)\n"

In [17]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
'''
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)
'''

'\nnumbers = [10, 20, 30, 40, 50]\nnumbers.reverse()\nprint(numbers)\n'

In [18]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
'''
my_tuple = (100, 200, 300)
print(my_tuple)
'''

'\nmy_tuple = (100, 200, 300)\nprint(my_tuple)\n'

In [19]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
'''
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)
'''

"\nmy_tuple = ('red', 'green', 'blue', 'yellow')\nsecond_to_last = my_tuple[-2]\nprint(second_to_last)\n"

In [20]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
'''
numbers = (10, 20, 5, 15)
min_value = min(numbers)
print(min_value)
'''

'\nnumbers = (10, 20, 5, 15)\nmin_value = min(numbers)\nprint(min_value)\n'

In [21]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
'''
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)
'''

"\nanimals = ('dog', 'cat', 'rabbit')\nindex_of_cat = animals.index('cat')\nprint(index_of_cat)\n"

In [22]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
'''
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")
'''

'\nfruits = ("apple", "banana", "mango")\nif "kiwi" in fruits:\n    print("Kiwi is in the tuple.")\nelse:\n    print("Kiwi is not in the tuple.")\n'

In [23]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
'''
my_set = {'a', 'b', 'c'}
print(my_set)
'''

"\nmy_set = {'a', 'b', 'c'}\nprint(my_set)\n"

In [24]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
'''
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)
'''

'\nmy_set = {1, 2, 3, 4, 5}\nmy_set.clear()\nprint(my_set)\n'

In [25]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
'''
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)
'''

'\nmy_set = {1, 2, 3, 4}\nmy_set.remove(4)\nprint(my_set)\n'

In [26]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
'''
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)
'''

'\nset1 = {1, 2, 3}\nset2 = {3, 4, 5}\nunion_set = set1.union(set2)\nprint(union_set)\n'

In [27]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
'''
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)
'''

'\nset1 = {1, 2, 3}\nset2 = {2, 3, 4}\nintersection_set = set1.intersection(set2)\nprint(intersection_set)\n'

In [28]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
'''
person = {
    "name": "Om",
    "age": 17,
    "city": "Gorakhpur"
}
print(person)
'''

'\nperson = {\n    "name": "Om",\n    "age": 17,\n    "city": "Gorakhpur"\n}\nprint(person)\n'

In [29]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
'''
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)
'''

"\nperson = {'name': 'John', 'age': 25}\nperson['country'] = 'USA'\nprint(person)\n"

In [30]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
'''
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)
'''

"\nperson = {'name': 'Alice', 'age': 30}\nname_value = person['name']\nprint(name_value)\n"

In [31]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
'''
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)
'''

"\nperson = {'name': 'Bob', 'age': 22, 'city': 'New York'}\ndel person['age']\nprint(person)\n"

In [32]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
'''
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
if 'city' in person:
    print("The key 'city' exists.")
else:
    print("The key 'city' does not exist.")
'''

'\nperson = {\'name\': \'Alice\', \'city\': \'Paris\'}\n\n# Check if the key "city" exists\nif \'city\' in person:\n    print("The key \'city\' exists.")\nelse:\n    print("The key \'city\' does not exist.")\n'

In [33]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
'''
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary with updated values
my_dict = {'name': 'Om', 'age': 17, 'city': 'Gorakhpur'}

# Printing the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)
'''

'\n# Creating a list\nmy_list = [1, 2, 3, 4, 5]\n\n# Creating a tuple\nmy_tuple = (\'apple\', \'banana\', \'cherry\')\n\n# Creating a dictionary with updated values\nmy_dict = {\'name\': \'Om\', \'age\': 17, \'city\': \'Gorakhpur\'}\n\n# Printing the list, tuple, and dictionary\nprint("List:", my_list)\nprint("Tuple:", my_tuple)\nprint("Dictionary:", my_dict)\n'

In [34]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
'''
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted list:", random_numbers)
'''

'\nimport random\n\n# Create a list of 5 random numbers between 1 and 100\nrandom_numbers = random.sample(range(1, 101), 5)\n\n# Sort the list in ascending order\nrandom_numbers.sort()\n\n# Print the result\nprint("Sorted list:", random_numbers)\n'

In [35]:
#28. Write a code to create a list with strings and print the element at the third index.
'''
# Create a list with strings
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (index 3)
print("Element at index 3:", words[3])
'''

'\n# Create a list with strings\nwords = ["apple", "banana", "cherry", "date", "elderberry"]\n\n# Print the element at the third index (index 3)\nprint("Element at index 3:", words[3])\n'

In [36]:
#29. Write a code to combine two dictionaries into one and print the result.
'''
# First dictionary
dict1 = {'name': 'Om', 'age': 17}

# Second dictionary
dict2 = {'city': 'Gorakhpur', 'country': 'India'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)
'''

'\n# First dictionary\ndict1 = {\'name\': \'Om\', \'age\': 17}\n\n# Second dictionary\ndict2 = {\'city\': \'Gorakhpur\', \'country\': \'India\'}\n\n# Combine the dictionaries\ncombined_dict = {**dict1, **dict2}\n\n# Print the result\nprint("Combined dictionary:", combined_dict)\n'

In [37]:
#30. Write a code to convert a list of strings into a set.
'''
# Create a list of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list to a set
string_set = set(string_list)

# Print the set
print("Set:", string_set)
'''

'\n# Create a list of strings\nstring_list = ["apple", "banana", "cherry", "apple", "banana"]\n\n# Convert the list to a set\nstring_set = set(string_list)\n\n# Print the set\nprint("Set:", string_set)\n'